@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: coral;
    color: var(--text);
    min-height: 100vh;
    transition: var(--transition);
}

body.dark {
    background: linear-gradient(135deg, #020617, #1e293b);
}

.app {
    max-width: (900px, 92%);
    margin: auto;
    padding: 40px 0;
}