:root {
    --primary: #4f46e5;
    --secondary: #6366f1;
    --background: #f5f7fb;
    --surface: rgb(248, 253, 252);
    --text: #222;
    --radius: 12px;
    --shadow: 0 8px 25px rgba(0, 0, 0, .1);
    --completed-text: #6b7280;
    --completed: rgb(100, 233, 100);
    --status-text: black;
    --filter-button: coral;
    --add-button: coral;
}

body.dark {
    --bg: #0f172a;
    --surface: rgba(30, 41, 59, .75);
    --text: #f8fafc;
    --text-light: #cbd5e1;
    --border: rgba(255, 255, 255, .08);
    --shadow: 0 8px 30px rgba(0, 0, 0, .45);
    --completed-text: #cbd5e1;
    --completed: green;
    --status-text: white;
    --filter-button: maroon;
    --add-button: maroon;
}